@model ICollection<Producto>

<div class="row justify-content-between float-left">
    @foreach (var C in Model)
    {
        <div class="card col-md-3 mr-3 ml-3 mb-3" style="width: auto;">
            <img src="~/images/@C.Imagen" class="card-img-top" style="width:100%;" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">@C.Nombre</h5>
                <h6 class="card-subtitle mb-2 text-muted">@C.Descripcion</h6>
            </div>
            <div class="row float-left justify-content-center mb-3">
                <a asp-controller="Carro" asp-action="Add" asp-route-ProductoId="@C.ProductoId" class="btn btn-outline-warning">Agregar al Carro</a>
            </div>
        </div>
    }
</div>

