@model WebAppMiercoles.Models.Producto

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-cascade narrower view view-cascade gradient-card-header blue-gradient narrower py-2 mb-3 d-flex justify-content-between align-items-center">
    <h2 href="" class="white-text mx-3">Nuevo Producto</h2>
    <a asp-action="ListaProductos" class="link-dark"><i class="fas fa-plus-circle fa-lg mr-2"></i>Volver</a>
</div>


<div class="row">
    <div class="col-md-4">
        <form asp-action="addProducto" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="enOferta" /> @Html.DisplayNameFor(model => model.enOferta)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="precioOferta" class="control-label"></label>
                <input asp-for="precioOferta" class="form-control" />
                <span asp-validation-for="precioOferta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imagenFile" class="control-label"></label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Subir</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" asp-for="imagenFile">
                        <label class="custom-file-label" for="inputGroupFile01">Elegir Imagen</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class ="form-control" asp-items="ViewBag.CategoriaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success btn-block" />
            </div>
        </form>
    </div>
</div>

