@model ICollection<Producto>

<div class="card card-cascade narrower view view-cascade gradient-card-header blue-gradient narrower py-2 mb-3 d-flex justify-content-between align-items-center">
    <h2 href="" class="white-text mx-3">Productos</h2>
    <a asp-action="addProducto" class="link-dark"><i class="fas fa-plus-circle fa-lg mr-2"></i>Crear Nuevo Producto</a>
</div>

<div class="row justify-content-between float-left">
    @foreach (var C in Model)
    {
        <div class="card col-md-3 mr-3 ml-3 mb-3" style="width: auto;">
            <img src="~/images/@C.Imagen" class="card-img-top" style="width:100%;" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">@C.Nombre</h5>
                <h6 class="card-subtitle mb-2 text-muted">@C.Descripcion</h6>
            </div>
            <div class="row float-left justify-content-center mb-3">
                <a asp-action="EditCategoria" asp-route-CategoriaId="@C.CategoriaId" class="mr-3"><i class="fas fa-edit"></i></a>
                <a class="mr-3"><i class="fas fa-info-circle"></i></a>
                <a class="mr-3"><i class="fas fa-trash"></i></a>
            </div>
        </div>
    }
</div>