@model ICollection<Categoria>

<div class="card card-cascade narrower view view-cascade gradient-card-header blue-gradient narrower py-2 mb-3 d-flex justify-content-between align-items-center">
    <h2 href="" class="white-text mx-3">Categorias</h2>
    <a asp-controller="Categoria" asp-action="CrearCategoria" class="white-text"><i class="fas fa-plus-circle fa-lg mr-2"></i>Crear Nueva Categoria</a>
</div>

<div class="row justify-content-center float-left">
    @foreach (var C in Model)
    {
        <div class="card mr-3 ml-3 mb-3" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">@C.Nombre</h5>
                <h6 class="card-subtitle mb-2 text-muted">@C.Descripcion</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="row float-left justify-content-center mb-3">
                <a class=""><i class="fas fa-plus-circle fa-lg mr-2"></i></a>
                <a class=""><i class="fas fa-plus-circle fa-lg mr-2"></i></a>
                <a class=""><i class="fas fa-plus-circle fa-lg mr-2"></i></a>
            </div>
        </div>
    }
</div>







